<title>Home Pgae</title>

<html>
<head>
<style>
  table {
    border-collapse: collapse;
    layout:auto;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    text-align: center;
    background-color: #f7bbbb;
  }

  tr:nth-child(even) {background-color: #f5f5f5;}
  /* tr:hover {background-color:#f5f5f5;} */

</style>
</head>
<body>

<h2>Home Page</h2>
<table>
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in des %}
        <tr>
            {% for col in record %}
            <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
